#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
.table {
    margin: 0 auto;
    text-align: left;
    background-color: #f2f2f2;
    border-spacing: 0;
    width: 40%;
    th,
    td {
        border: 2px solid #979797;
        padding: 12px;
    }
}

.lowest {
    background-color: #0091ff;
    color: white;
}
